#!/bin/sh
set -eufo pipefail
{{ range $path, $subMap := .GTK4 }}{{ range $key, $value := $subMap }}
if [ "$(gsettings get {{ printf "%s %s" $path $key }})" != "{{ toString $value}}" ]; then
    gsettings set {{ printf "%s %s \"%s\"" $path $key (toString $value) }}
fi
{{ end }}{{ end }}
