{{ if lookPath "waybar" -}}
// -*- mode: jsonc -*-
[
  {
    "margin-left": {{ index . .chezmoi.hostname "waybar" "marginLeftRight" }},
    "margin-right": {{ index . .chezmoi.hostname "waybar" "marginLeftRight" }},
    "margin-top": {{ index . .chezmoi.hostname "waybar" "marginTop" }},
{{- if index . .chezmoi.hostname "waybar" "output" }}
    "output": {{ index . .chezmoi.hostname "waybar" "output" }},
{{- end }}
    "modules-left": [
      "hyprland/workspaces",
      "hyprland/submap"
    ],
    "modules-center": [
      "hyprland/window"
    ],
    "modules-right": [
      "idle_inhibitor",
      "pulseaudio",
      "network",
      "power-profiles-daemon",
      "cpu",
      "memory",
      "temperature",
      "backlight",
      "keyboard-state",
      "battery",
      "clock",
      "tray",
      "privacy"
    ],
    // modules configuration
    "hyprland/workspaces": {
      "format": "{name}",
      //"format": "{name} {windows}",
      "show-special": true,
      "special-visible-only": true,
/*
      "window-rewrite": {
{{ .COMMON.waybar.windowRewrite }}
      }
*/
    },
    "idle_inhibitor": {
      "format": "{icon}",
      "format-icons": {
        "activated": "&#xf06e8;", // lightbulb-on
        "deactivated": "&#xf1800;" // lightbulb-auto
      }
    },
    "tray": {
      "icon-size": 20,
      "spacing": 10
    },
    "clock": {
      "format": "{:%H:%M:%S}",
      "format-alt": "{:%m-%d-%y}",
      "interval": 1,
      "tooltip-format": "<big>{:%y %b}</big>\n<tt><small>{calendar}</small></tt>"
    },
    "cpu": {
      "format": "{usage}% &#xf0ee0;", // cpu-64-bit
      "tooltip": false
    },
    "memory": {
      "format": "{percentage}% &#xf035b;" // memory
    },
    "temperature": {
{{- if ne (dig .chezmoi.hostname "waybar" "tempThermalZone" nil .) nil }}
      "thermal-zone": {{ index . .chezmoi.hostname "waybar" "tempThermalZone" }},
{{- end }}
{{- if index . .chezmoi.hostname "waybar" "tempHwmonPath" }}
      "hwmon-path": "{{ index . .chezmoi.hostname "waybar" "tempHwmonPath" }}",
{{- end }}
      "critical-threshold": 80,
      "format-critical": "{temperatureC}&#xb0;C &#xf0e01;", // thermometer-alert
      "format": "{temperatureC}&#xb0;C {icon}",
      "format-icons": [
        "&#xf10c3;", // thermometer-low
        "&#xf050f;", // thermometer
        "&#xf10c2;" // thermometer-high
      ],
      "tooltip": false
    },
    "backlight": {
      // "device": "acpi_video1",
      "on-scroll-up": "brightnessctl set +4%",
      "on-scroll-down": "brightnessctl set 4%-",
      //"smooth-scrolling-threshold": 3,
      "format": "{percent}% {icon}",
      "format-icons": [
        "&#xf0f64;", // moon-new
        "&#xf0f67;", // moon-waxing-crescent
        "&#xf0f61;", // moon-first-quarter
        "&#xf0f68;", // moon-waxing-gibbous
        "&#xf0f62;" // moon-full
      ],
      "tooltip": false
    },
    "keyboard-state": {
      "numlock": false,
      "capslock": true,
      "format": "{name} {icon}",
      "format-icons": {
        "locked": "&#xf0632;", // apple-keyboard-caps
        "unlocked": "&#xf030e;" // keyboard-caps
      }
    },
    "battery": {
      "states": {
        // "good": 95,
        "warning": 30,
        "critical": 15
      },
      "format": "{capacity}% {icon}",
      "format-full": "{capacity}% {icon}",
      "format-charging": "{capacity}% &#xf0084;", // battery-charging
      "format-plugged": "{capacity}% &#xf1c3b;", // power-plug-battery
      "format-alt": "{time} {power}W {icon}",
      // "format-good": "", // an empty format will hide the module
      // "format-full": "",
      "format-icons": [
        "&#xf10cd;", // battery-alert-variant-outline
        "&#xf007a;", // battery-10
        "&#xf007b;", // battery-20
        "&#xf007c;", // battery-30
        "&#xf007d;", // battery-40
        "&#xf007e;", // battery-50
        "&#xf007f;", // battery-60
        "&#xf0080;", // battery-70
        "&#xf0081;", // battery-80
        "&#xf0082;", // battery-90
        "&#xf0079;" // battery
      ]
    },
    "power-profiles-daemon": {
      "format": "{icon}",
      "tooltip-format": "power profile: {profile}\ndriver: {driver}",
      "tooltip": true,
      "format-icons": {
        "default": "&#xf0210;", // fan
        "performance": "&#xf1807;", // fire-circle
        "balanced": "&#xf1c03;", // bank-circle
        "power-saver": "&#xf1905;" // leaf-circle
      }
    },
    "network": {
      "interface": "{{ index . .chezmoi.hostname "waybar" "netIO" }}",
      "format-wifi": "{icon}",
      "format-ethernet": "{ipaddr}/{cidr} &#xf0200;", // ethernet
      "format-linked": "{ifname} (no ip) &#xf0318;", // lan-connect
      "format-disconnected": "disconnected &#xf0319;", // lan-disconnect
      "format-alt": "{ifname}: {ipaddr}/{cidr}",
      "tooltip-format": "{ifname} via {gwaddr} &#xf11e2;", // router
      "tooltip-format-wifi": "{essid} ({signalStrength}%)\n{ifname} via {gwaddr} &#xf11e2;",
      "format-icons": [
        "&#xf092f;", // wifi-strength-outline
        "&#xf091f;", // wifi-strength-1
        "&#xf0922;", // wifi-strength-2
        "&#xf0925;", // wifi-strength-3
        "&#xf0928;" // wifi-strength-4
      ]
    },
    "pulseaudio": {
      // "scroll-step": 1, // %, can be a float
      "format": "{volume}% {icon} {format_source}",
      "format-muted": "&#xf0581; {format_source}", // volume-off
      "format-bluetooth": "{volume}% {icon}&#xf00af; {format_source}", // bluetooth
      "format-bluetooth-muted": "&#xf0581;{icon}&#xf00af; {format_source}", // volume-off, bluetooth
      "format-source": "{volume}% &#xf036c;", // microphone
      "format-source-muted": "&#xf036d;", // microphone-off
      "format-icons": {
        "headphone": "&#xf02cb;", // headphones
        "hands-free": "&#xf184f;", // earbuds
        "headset": "&#xf02ce;", // headset
        "phone": "&#xf03f2;", // phone
        "portable": "&#xf011c;", // cellphone
        "car": "&#xf010b;", // car
        "default": [
          "&#xf057f;", // volume-low
          "&#xf0580;", // volume-medium
          "&#xf057e;" // volume-high
        ]
      },
      "on-click": "pactl set-sink-mute @DEFAULT_SINK@ toggle",
      "on-click-right": "pactl set-source-mute @DEFAULT_SOURCE@ toggle"
    },
    "privacy": {
{{ .COMMON.waybar.privacyConfig }}
    }
  }
{{- if eq .chezmoi.hostname "PROTEUSLAPTOP" }}
  ,{
    "output": "DP-2",
    "modules-left": [
      "hyprland/workspaces",
      "mpd"
    ],
    "modules-right": [
      "privacy"
    ],
    "position": "bottom",
    "hyprland/workspaces": {
      "format": "{name} {windows}",
      "show-special": true,
      "special-visible-only": true,
/*
      "window-rewrite": {
{{ .COMMON.waybar.windowRewrite }}
      }
*/
    },
    "mpd": {
      "title-len": 10,
      "format": "{stateIcon}{consumeIcon}{randomIcon}{repeatIcon}{singleIcon}{artist} - {album} - {title} ({elapsedTime:%M:%S}/{totalTime:%M:%S}) &#xf075a;", // music
      "format-disconnected": "Disconnected &#xf0319;", // lan-disconnect
      "format-stopped": "{consumeIcon}{randomIcon}{repeatIcon}{singleIcon}Stopped &#xf075b;", // music-off
      "interval": 10,
      "consume-icons": {
        "on": "&#xf0190;" // content-cut
      },
      "random-icons": {
        "off": "&#xf049e;", // shuffle-disabled
        "on": "&#xf049d;" // shuffle
      },
      "repeat-icons": {
        "on": "&#xf0456;" // repeat
      },
      "single-icons": {
        "on": "&#xf0458;" // repeat-once
      },
      "state-icons": {
        "paused": "&#xf03e4;", // pause
        "playing": "&#xf040a;" // play
      },
      "tooltip-format": "MPD (connected)",
      "tooltip-format-disconnected": "MPD (disconnected)"
    },
    "privacy": {
{{ .COMMON.waybar.privacyConfig }}
    }
  }
{{- end }}
]
{{- end -}}
