{{ if lookPath "waybar" -}}
// -*- mode: jsonc -*-
[
  {
    "margin-left": {{ index . .chezmoi.hostname "waybar" "marginLeftRight" }},
    "margin-right": {{ index . .chezmoi.hostname "waybar" "marginLeftRight" }},
    "margin-top": {{ index . .chezmoi.hostname "waybar" "marginTop" }},
{{- if index . .chezmoi.hostname "waybar" "output" }}
    "output": {{ index . .chezmoi.hostname "waybar" "output" }},
{{- end }}
    "modules-left": [
      "hyprland/workspaces",
      "hyprland/submap"
    ],
    "modules-center": [
      "hyprland/window"
    ],
    "modules-right": [
      "idle_inhibitor",
      "pulseaudio",
      "network",
      "power-profiles-daemon",
      "cpu",
      "memory",
      "temperature",
      "backlight",
      "keyboard-state",
      "battery",
      "clock",
      "tray",
      "privacy"
    ],
    // modules configuration
    "hyprland/workspaces": {
      "format": "{name}{windows}",
      "show-special": true,
      "special-visible-only": true,
      "window-rewrite": {
{{ .COMMON.waybar.windowRewrite }}
      }
    },
    "idle_inhibitor": {
      "format": "{icon}",
      "format-icons": {
        "activated": "&#xf1802;", // nf-md-lightbulb_variant
        "deactivated": "&#xf0336;" // nf-md-lightbulb_outline
      }
    },
    "tray": {
      "icon-size": 20,
      "spacing": 10
    },
    "clock": {
      "format": "{:%H:%M:%S}",
      "format-alt": "{:%m-%d-%y}",
      "interval": 1,
      "tooltip-format": "<big>{:%y %b}</big>\n<tt><small>{calendar}</small></tt>"
    },
    "cpu": {
      "format": "{usage}% &#xf0ee0;", // cpu_64_bit
      "tooltip": false
    },
    "memory": {
      "format": "{percentage}% &#xf035b;" // memory
    },
    "temperature": {
{{- if ne (dig .chezmoi.hostname "waybar" "tempThermalZone" nil .) nil }}
      "thermal-zone": {{ index . .chezmoi.hostname "waybar" "tempThermalZone" }},
{{- end }}
{{- if index . .chezmoi.hostname "waybar" "tempHwmonPath" }}
      "hwmon-path": "{{ index . .chezmoi.hostname "waybar" "tempHwmonPath" }}",
{{- end }}
      "critical-threshold": 80,
      "format-critical": "{temperatureC}&#xb0;C &#xf0e01;", // thermometer_alert
      "format": "{temperatureC}&#xb0;C {icon}",
      "format-icons": [
        "&#xf10c3;", // thermometer_low
        "&#xf050f;", // thermometer
        "&#xf10c2;" // thermometer_high
      ],
      "tooltip": false
    },
    "backlight": {
      // "device": "acpi_video1",
      "on-scroll-up": "brightnessctl set +4%",
      "on-scroll-down": "brightnessctl set 4%-",
      //"smooth-scrolling-threshold": 3,
      "format": "{percent}% {icon}",
      "format-icons": [
        "&#xf00da;", // brightness_1
        "&#xf00db;", // brightness_2
        "&#xf00dc;", // brightness_3
        "&#xf00de;", // brightness_5
        "&#xf00dd;", // brightness_4
        "&#xf00df;", // brightness_6
        "&#xf00e0;" // brightness_5
      ],
      "tooltip": false
    },
    "keyboard-state": {
      "numlock": false,
      "capslock": true,
      "format": "{name} {icon}",
      "format-icons": {
        "locked": "&#xf0a9b;", // caps_lock
        "unlocked": "&#xf030e;" // keyboard_caps
      }
    },
    "battery": {
      "states": {
        // "good": 95,
        "warning": 30,
        "critical": 15
      },
      "format": "{capacity}% {icon}",
      "format-full": "{capacity}% {icon}",
      "format-charging": "{capacity}% &#xf0084;", // battery_charging
      "format-plugged": "{capacity}% &#xf1834;", // battery_sync
      "format-alt": "{time} {power}W {icon}",
      // "format-good": "", // an empty format will hide the module
      // "format-full": "",
      "format-icons": [
        "&#xf10cd;", // battery_alert_variant_outline
        "&#xf007a;", // battery_10
        "&#xf007b;", // battery_20
        "&#xf007c;", // battery_30
        "&#xf007d;", // battery_40
        "&#xf007e;", // battery_50
        "&#xf007f;", // battery_60
        "&#xf0080;", // battery_70
        "&#xf0081;", // battery_80
        "&#xf0082;", // battery_90
        "&#xf0079;" // battery
      ]
    },
    "power-profiles-daemon": {
      "format": "{icon}",
      "tooltip-format": "power profile: {profile}\ndriver: {driver}",
      "tooltip": true,
      "format-icons": {
        "default": "&#xf0210;", // fan
        "performance": "&#xf1807;", // fire_circle
        "balanced": "&#xf1a04;", // percent_circle
        "power-saver": "&#xf1905;" // leaf_circle
      }
    },
    "network": {
      "interface": "{{ index . .chezmoi.hostname "waybar" "netIO" }}",
      "format-wifi": "{icon}",
      "format-ethernet": "{ipaddr}/{cidr} &#xf0200;", // ethernet
      "format-linked": "{ifname} (no ip) &#xf0318;", // lan_connect
      "format-disconnected": "disconnected &#xf0319;", // lan_disconnect
      "format-alt": "{ifname}: {ipaddr}/{cidr}",
      "tooltip-format": "{ifname} via {gwaddr} &#xf11e2;", // router
      "tooltip-format-wifi": "{essid} ({signalStrength}%)\n{ifname} via {gwaddr} &#xf11e2;", // router
      "format-icons": [
        "&#xf092f;", // wifi_strength_outline
        "&#xf091f;", // wifi_strength_1
        "&#xf0922;", // wifi_strength_2
        "&#xf0925;", // wifi_strength_3
        "&#xf0928;" // wifi_strength_4
      ]
    },
    "pulseaudio": {
      // "scroll-step": 1, // %, can be a float
      "format": "{volume}% {icon} {format_source}",
      "format-muted": "&#xf0581; {format_source}", // volume_off
      "format-bluetooth": "{volume}% {icon}&#xf00af; {format_source}", // bluetooth
      "format-bluetooth-muted": "&#xf0581;{icon}&#xf00af; {format_source}", // volume_off, bluetooth
      "format-source": "{volume}% &#xf036c;", // microphone
      "format-source-muted": "&#xf036d;", // microphone_off
      "format-icons": {
        "headphone": "&#xf02cb;", // headphones
        "hands-free": "&#xf184f;", // earbuds
        "headset": "&#xf02ce;", // headset
        "phone": "&#xf03f2;", // phone
        "portable": "&#xf011c;", // cellphone
        "car": "&#xf010b;", // car
        "default": [
          "&#xf057f;", // volume_low
          "&#xf0580;", // volume_medium
          "&#xf057e;" // volume_high
        ]
      },
      "on-click": "pactl set-sink-mute @DEFAULT_SINK@ toggle",
      "on-click-right": "pactl set-source-mute @DEFAULT_SOURCE@ toggle"
    },
    "privacy": {
{{ .COMMON.waybar.privacyConfig }}
    }
  }
{{- if eq .chezmoi.hostname "PROTEUSLAPTOP" }}
  ,{
{{- range $monitor := index . .chezmoi.hostname "hyprland" "monitors" }}
{{- if contains "auto-right" $monitor.modeline }}
    "output": "{{ $monitor.name }}",
{{- end }}
{{- end }}
    "modules-left": [
      "hyprland/workspaces",
      "mpd"
    ],
    "modules-right": [
      "privacy"
    ],
    "hyprland/workspaces": {
      "format": "{name}{windows}",
      "show-special": true,
      "special-visible-only": true,
      "window-rewrite": {
{{ .COMMON.waybar.windowRewrite }}
      }
    },
    "mpd": {
      "title-len": 10,
      "format": "{stateIcon}{consumeIcon}{randomIcon}{repeatIcon}{singleIcon}{artist} - {album} - {title} ({elapsedTime:%M:%S}/{totalTime:%M:%S}) &#xf075a;", // music
      "format-disconnected": "Disconnected &#xf0319;", // lan_disconnect
      "format-stopped": "{consumeIcon}{randomIcon}{repeatIcon}{singleIcon}Stopped &#xf075b;", // music_off
      "interval": 10,
      "consume-icons": {
        "on": "&#xf0190;" // content_cut
      },
      "random-icons": {
        "off": "&#xf049e;", // shuffle_disabled
        "on": "&#xf049d;" // shuffle
      },
      "repeat-icons": {
        "on": "&#xf0456;" // repeat
      },
      "single-icons": {
        "on": "&#xf0458;" // repeat_once
      },
      "state-icons": {
        "paused": "&#xf03e4;", // pause
        "playing": "&#xf040a;" // play
      },
      "tooltip-format": "MPD (connected)",
      "tooltip-format-disconnected": "MPD (disconnected)"
    },
    "privacy": {
{{ .COMMON.waybar.privacyConfig }}
    }
  }
{{- end }}
]
{{- end -}}
