{{ if lookPath "mpd" -}}
# See /usr/share/doc/mpd/mpdconf.example
music_directory		"~/Music"
playlist_directory		"~/.local/share/mpd/playlists"
db_file			"~/.local/share/mpd/database"
state_file			"~/.local/state/mpd"
sticker_file			"~/.local/share/mpd/sticker.sql"
auto_update	"yes"
input {
        plugin "curl"
}
audio_output {
        type "pipewire"
        name "PipeWire Sound Server"
}
{{- end }}
