{{ if lookPath "hyprpaper" -}}
# https://wiki.hyprland.org/Hypr-Ecosystem/hyprpaper/
{{- range $monitor := index . .chezmoi.hostname "hyprland" "monitors" }}
preload = {{ $monitor.wallpaper }}
wallpaper = {{ $monitor.name }}, {{ printf "%s:%s" $monitor.wallpaperMode $monitor.wallpaper }}
{{- end }}
{{- end }}
